html {
    line-height: 1;
}

body {
    font-family: Arial, "Helvetica Neue",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* header */
header {
    background-color: #EFA358;
    height: 80px;
}

.header-inner {
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.header-menu ul {
    display: flex;
}

.header-menu-list {
    margin-right: 20px;
    font-size: 20px;
    color: #fff;
}

.header-menu-list:nth-last-child(1) {
    margin-right: 0;
}

/* main */
.fv {
    height: 603px;
    background-image: url("/img/fv 1.jpg");
    background-size: cover;
    background-position: center;
}

.feature-inner {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 20px 100px;
}

.heading-title {
    color: #555555;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 42px;
}

.feature-box {
    display: flex;
    justify-content: space-between;
}

.img-area figure {
    width: 480px;
    height: 329px;
}

.text-area {
    margin-left: 62px;
}

.text-area-title {
    font-size: 32px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 30px;
}

.text-area-desc {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 30px;
}

.cta-btn {
    display: inline-block;
    background-color: #EFA358;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    width: 197px;
    padding: 15px 57px 15px;
    transition: .5s;
}

.cta-btn:hover {
    background-color: #985f26;
}

/* footer */
footer {
    height: 100px;
    padding: 19px 0 20px;
    background-color: #EFA358;
    text-align: center;
}

.footer-logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.copyright {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 875px) {
    .feature-box {
        flex-direction: column;
        text-align: center;
    }

    .img-area figure {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 25px;
    }

    .text-area {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
}

@media screen and (max-width: 525px) {
    .fv {
        height: 380px;
    }

    .img-area figure {
        max-width: 100%;
        height: auto;
    }
    
    .header-menu-list {
        font-size: 16px;
    }
}
