@use "color";
@use "breakpoints";
body {
  font-family: "Monda", "Noto Sans JP", sans-serif;
  color: color.$cl-black;

  &.is-fixed {
    overflow: hidden;
  }
}

// button
.button {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 28px;
  width: 166px;
  margin: 0 auto;

  &--bg {
    background-color: color.$white;

    .button__text {
      color: color.$bg-dark;
    }
  }

  &--border {
    border: 1px solid color.$white;

    .button__text {
      color: color.$white;
    }
  }

  &__icon {
    width: 24px;
    display: flex;
    align-items: center;
  }

  &__icon-path {
    fill: color.$white;

    &--contact {
      fill: color.$bg-dark;
    }
  }

  &__text {
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: color.$white;
  }
}

// header
.header {
  background-color: color.$bg-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &__container {
    position: relative;
  }

  &__logo {
    display: inline-block;
    padding: 14px 24px;
    font-size: 20px;
    color: color.$white;
  }

  &__menu-button {
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 36px;
    overflow: hidden;
    color: transparent; // menuの文字を透明にして見えなくする
    background: url(../img/bg_menu.png) center center no-repeat;
    background-size: 100% auto;

    &.is-checked {
      background: url(../img/bg_menu-close.png) center center no-repeat;
      background-size: 100% auto;
    }
  }

  &__contents {
    display: none;
    height: calc(100vh - 86px);
    border-top: 1px solid color.$white;
    padding-top: 60px;
  }

  &__nav-item {
    & + & {
      margin-top: 24px;
    }
  }
}

// fv
.fv {
  position: relative;

  &__contents {
    position: absolute;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 209px;
    background: url(../img/sp/bg_fv.png) center center no-repeat;
    background-size: 100% auto;
    padding: 32px;
  }

  &__heading {
  }

  &__heading-main {
    display: block; //　縦並びにするため
    font-size: 40px;
    letter-spacing: 0.01em;
  }

  &__heading-sub {
    margin-top: 20px;
    display: block; // 縦並びにするため
    font-size: 14px;
  }
}

// section共通クラス
.section {
  padding: 48px 0;

  &__inner {
    padding: 0 32px;
  }

  &__head {
    display: flex;
    flex-direction: column; // 縦並びにするため,子要素にblockを指定しなくてもよくなる
    margin-bottom: 32px;

    &--center {
      text-align: center;
    }
  }

  &__head-main {
    font-size: 40px;
    letter-spacing: 0.01em;
    // display: block; // 縦並びにするため
  }

  &__head-sub {
    font-size: 11px;
    // display: block; // 縦並びにするため
  }

  &__lead-text {
    font-size: 16px;
    line-height: 1.6;
  }

  &__contents {
    margin-top: 40px;
  }
}

// service
.service {
  &__list {
  }

  &__item {
    & + & {
      margin-top: 40px;
    }
  }

  &__item-img {
    text-align: center;
    margin-bottom: 14px;
  }

  &__item-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// works
.works {
  background-color: color.$bg-light;
  &__list {
  }

  &__item {
    & + & {
      margin-top: 40px;
    }
  }

  &__item-img {
    margin-bottom: 12px;
    img {
      box-shadow: 0 4px 15px 0 rgba(color.$cl-black, 0.15);
    }
  }

  &__item-name {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: bold;
  }

  &__item-link {
    text-decoration: underline;
    font-size: 14px;
  }
}

// about
.about {
  &__container {
  }

  &__img {
    max-width: 311px;
    margin-bottom: 32px;
    img {
      box-shadow: 0 4px 15px 0 rgba(color.$cl-black, 0.15);
    }
  }

  &__text-container {
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    & + & {
      margin-top: 1em; // １文字分
    }
  }
}

// flow
.flow {
  background-color: color.$bg-light;

  &__list {
    margin-top: 64px;
  }

  &__item {
    position: relative;
    border: 1px solid color.$cl-border;
    padding: 46px 16px 24px;

    & + & {
      margin-top: 46px;
    }
  }

  &__item-num {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    // ↑要素の横幅半分の大きさの分（50％）だけ左に戻す
    font-size: 24px;
    background-color: color.$bg-dark;
    color: color.$white;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-img {
    margin-bottom: 10px;
    text-align: center;
  }

  &__item-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// message
.message {
  &__container {
  }

  &__img {
    margin-bottom: 32px;

    img {
      box-shadow: 0 4px 15px 0 rgba(color.$cl-black, 0.15);
    }
  }

  &__text-contents {
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
  }
}

// contact
.page-bottom {
  color: color.$white;

  &__item {
    padding: 40px;

    &--contact {
      background-color: color.$bg-gray-l;
    }

    &--x {
      background-color: color.$bg-dark;
    }
  }
}

// footer
.footer {
  text-align: center;
  padding: 10px;

  &__copy {
    font-size: 11px;
  }
}

/*----------------------
// pc
-----------------------*/

@include breakpoints.mq(pc) {
  .wrapper {
    display: flex;
  }

  .main {
    flex-basis: 79.2%; //flexアイテムの幅を指定する
  }

  .header {
    position: relative;
    flex-basis: 20.8%;
    padding: 50px 20px;

    &__container {
      width: 170px;
      margin: 0 auto;
      position: sticky;
      top: 50px; // headerのpadding topと同じにする
    }

    &__logo {
      font-size: 30px;
      letter-spacing: 0.01em;
      line-height: 1;
    }

    &__menu-button {
      display: none;
    }

    &__contents {
      border: none;
      display: block;
    }
  }

  .button {
    transition: background 0.3s color 0.3s, opacity 0.3s;

    &:hover {
      background-color: color.$white;

      .button__icon-path {
        fill: color.$bg-dark;
      }

      .button__text {
        color: color.$bg-dark;
      }
    }

    &--bg {
      color: color.$bg-dark;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .section {
    &__inner {
      max-width: calc(880px + 32px * 2);
      margin: 0 auto;
    }

    &__head {
      margin-bottom: 24px;
    }

    &__head-main {
      font-size: 60px;
    }
  }

  .fv {
    &__contents {
      background: url(../img/bg_fv.png) center center no-repeat;
      background-size: 100% auto;
      bottom: 100px;
      left: 0;
      max-width: 700px;
      height: 174px;
      padding-top: 24px;
      padding-left: 96px;
    }
  }

  .service {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8%;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .works {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8%;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .about {

    &__container {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }

    &__img {
      max-width: 320px;
    }
  }

  .flow {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .message {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }
  }

  .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__item {
      padding: 54px 10px;
    }
  }
}

/*----------------------
// tb
-----------------------*/
@include breakpoints.mq(tb) {
.section {

  &__head-main {
    font-size: 54px;
  }
}

.fv {

  &__contents {
    bottom: 50%;
    transform: translateY(50%);
  }
}

  .about {

  }

  .flow {

    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 16px;
    }
  }
}